<!DOCTYPE html>
<html>
  <head>
    <title>Sample Application</title>
  </head>

  <body>
    <h1>Test Application</h1>
    <form method="POST" action='/'>
      <h1>First Number</h1><br>
      <input type="text" name="firstnumber">
      <h1>Second Number</h1><br>
      <input type="text" name="secondnumber">
      <input type="submit" name="Submit">
    </form>
  </body>
</html>
